@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach01.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Giáo trình kỹ thuật lập trình</h3>
                <p><a href="#" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach02.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Ngôn ngữ lập trình C và C# </h3>
                <p><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/sach03.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Giáo trình lập trình JAVA </h3>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach04.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Lập trình tư duy</h3>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach05.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Code Complete</h3>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/sach06.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Lập trình và cuộc sống</h3>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
</div>
<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>